*{
    padding: 0;
    margin: 0;
}

.sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}


.sidebar-header {
    height: 60px;
    background-color: #4a4a4a;
    color: white;
}


.inbox-header {
    background-color: #e74c3c;
    color: black;
}


.new-message-btn {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.new-message-btn:hover {
    background-color: #000;
    color: #fff;
}


.inbox-btn {
    background-color: #d32f2f;
    color: #000;
    border: none;
    border-radius: 0;
}

.inbox-btn:hover {
    background-color: #e0e0e0;
    color: #000;
}


.sidebar button {
    margin: 0 !important;
}

.sidebar > * {
    margin-bottom: 0 !important;
}


.list-group-item {
    border: none;
    border-radius: 0;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #dddddd;
}


.inbox-avatar {
    width: 60px; 
    height: 60px;
}

.sidebar .inbox-avatar {
    border-radius: 0 !important;
}


.menu-item {
    padding: 8px 0;
    cursor: pointer;
}

.menu-item {
    padding: 10px 0;
    cursor: pointer;
    color: #444;
}

.menu-item:hover {
    color: #000;
}

.send-mail-header {
    background-color: #e74c3c;
}

.message-box {
    height: 120px;
    resize: none;
}


.mail-avatar {
    width: 250px;
    height: 250px;
}

.mail-divider {
    border-top: 1px solid #ddd;
    margin: 15px 0;
}
